################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
master-node/master-node.exe